#box {
    display: inline-block;
    width: 400px;
    height: 200px;
    border-radius: 200px;
    background-color: #dddddd;
    position: relative;
    cursor: pointer;
    transition: all 1s;
}

label input {
    display: none;
}

#box .btn {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    top: 30px;
    left: 15px;
    transition: all 1s;
}

label input:checked+#box .btn {
    left: 240px;
}

label input:checked+#box {
    background-color: #6fdb61;
}